@model PR2_WEBCORE.Models.Categorium

@{
    ViewData["Title"] = "Crear Categoría";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Crear Categoría</h1>
    <form asp-controller="Categoria" asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Descripcion" class="control-label">Descripción:</label>
            <input asp-for="Descripcion" class="form-control" />
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Porcentaje" class="control-label">Porcentaje:</label>
            <input asp-for="Porcentaje" class="form-control" />
            <span asp-validation-for="Porcentaje" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
